/* CSS Reset 
 * Link: https://mattbrictson.com/blog/css-normalize-and-reset
 * Link: https://www.joshwcomeau.com/css/custom-css-reset/
 * Note: Use all: revert; to use original browser default 
 */
@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Honk&display=swap');

:root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

/* add role=list to keep list semantics but hide the bullets in those cases */
ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

/* This ensures that large images shrink to fit within their container, instead 
of overflowing and causing layout problems. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* This algorithm will make sure that the final line of text has at least two 
words. It also makes other subtle tweaks to improve the visual balance of the 
paragraph: */
p {
  text-wrap: pretty;
}

/* The algorithm tries to make each line of text roughly the same length. 
This tends to make two-line headings feel a lot more balanced. */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Custom CSS */

/* Variables */
:root {
  --border-clr: #797070;
  --accent-clr: #4aa2eb;
  --label-clr: #616060;
  --card-bg-clr: #ffffff;
}

/* https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/ */
/* Don’t use it unless you know you’re never going to need to import other UI component libraries */
html {
  /* 62.5% of 16px user agent font size is 10px */
  font-size: 62.5%;
}

body {
  /* Setting the font size of our body to be 1.6rem, which scales us back up to 
    an effective font size of 16px for all visible text on the page */
  font-size: 1.6rem;
  font-family: 'Gruppo', sans-serif;
}

/* Material Fonts Outline Style */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
}

/* Main Container Styles */

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading h1 {
  font-family: 'Honk', monospace;
  font-size: 6.4rem;
}

/* Container Styles */

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Utils Style */

#search-form {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 32px;
}

#search-input {
  border-radius: 5px;
  border: 1px solid var(--border-clr);
  padding: 8px;
  width: 30%;
}

#search-submit-btn {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  border: 1px solid var(--border-clr);
}

#search-submit-btn:hover,
#toggle-btn:hover {
  background-color: var(--accent-clr);
  cursor: pointer;
}

#toggle-btn {
  position: absolute;
  bottom: 64px;
  right: 32px;
  padding: 16px;
  border-radius: 50%;
  display: flex;
  border: 1px solid var(--border-clr);
}

/* Main Content */

.main-display {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 16px;
}

.heading {
  padding: 8px;
  font-size: 3.6rem;
}

.card-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 8px;
}


/* Card Styles */

.card {
  border: 1px solid var(--border-clr);
  border-radius: 10px;
  padding: 3.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  font-size: 2.4rem;
  background: var(--card-bg-clr);
  opacity: 0.9;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.prev,
.next {
  cursor: pointer;
  color: var(--card-bg-clr);
  font-weight: bold;
  font-size: 3.6rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: var(--border-clr);
}

.hourly-display {
  margin: 64px 0;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.hour.card {
  font-size: 1rem;
  padding: 8px;
  gap: 2px;
  min-width: 150px;
}

.hour.card.hidden {
  display: none;
}


.label{
  font-size: 2rem;
  color: var(--label-clr);
}

/* Icon Styles */
.icon {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
}

.icon-label-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Footer Styles */

.footer {
  flex-grow: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.github-logo {
  width: 24px; /* Adjust size as needed */
  height: auto;
  fill: #333; /* Change color as needed */
}
